html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #000;
  }

/* ==============================
   Common styles
   ============================== */

.align-center{ text-align:center !important; }
.align-left{ text-align:left !important;}
.align-right{ text-align:right !important; }
.left{float:left !important;}
.right{float:right !important;}
.relative{position:relative;}
.hidden{display:none;}
.inline-block{display:inline-block;}
.white{ color: #FBFBFB !important; }
.black{ color: #050706 !important; }
.black-flat{ color: #101010  !important; }
.black-comp{ color: #131313 !important; }
.black-grey{ color: #1f1f1f !important; }
.slate { color: #4c4d4f !important; }
.fog { color: #b2b3b7 !important; }
.grey { color: #A3A09B !important; }
.cement { color: #e7e5d9 !important; }
.gold { color: #B6944C !important;}
.stick-fixed{
  position: fixed !important;
  top: 0;
  left: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==============================
   Hero Section
   ============================== */

.home-section {
  height: 69vh;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(17, 0, 125);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.home-content {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.home-text{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.7em;
  line-height: 1.4;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
  color: black;
}

.hero-logo {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
  font-family: 'Sedgwick Ave Display', cursive;
  color: black;
  font-size: 30px;
}
/* ==============================
    Scroll Down Arrow
   ============================== */
#scroll-down {
 color: rgb(17, 0, 125);
 text-decoration: none;
}

 .arrow {
   text-align: center;
   margin: 8% 0;
 }
 .bounce {
   -moz-animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   animation: bounce 2s infinite;
 }

 @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
     transform: translateY(0);
   }
   40% {
     transform: translateY(-30px);
   }
   60% {
     transform: translateY(-15px);
   }
 }
/* ==============================
    Blog
   ============================== */

.blog-section {
  text-align: center;
  background: #101010;
}

.blog-holder {
  border: 1px solid transparent;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-holder > div {
  height: 200px;
  width: 200px;
  background: #131313;
  border: 5px solid #b2b3b7;
  line-height: 30px;
  margin: 0 auto;
}

.blog-title h3 {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.blog-title p {
  line-height: 30px;
  margin: 10px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* ==============================
   Boxes
   ============================== */

.container-fluid {
  padding: 0;
}

.boxes {
  height: 400px;
  text-align: center;
  margin: 0 auto;
}

.boxes h2 {
  vertical-align: middle;
  font-size: 72px;
  line-height: 400px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #171717;
}

.boxes h2 span {
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: 10px;
}

.box-1 {
  background-color: rgb(17, 0, 125);
  background-position: center center;
  background-size: auto 70%;
  height: 100%;
}

.box-2 {
  background-color: rgb(17, 0, 125);
  background-size: auto 25%;
  background-position: center center;
  height: 100%;
}

.box-3 {
  background-color: rgb(17, 0, 125);
  background-size: auto 25%;
  height: 100%;
  background-position: center center;
}

.box-4 {
  background: rgb(17, 0, 125);
  background-size: auto 25%;
  background-size: 100%;
  height: 100%;
}


/* ==============================
   Flip Card
   ============================== */

.flip-card {
  background-color: transparent;
  width: 700px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: #000;
  z-index: 2;
}

.flip-card-back {
  background-color: #101010;
  color: #fff;
  transform: rotateY(180deg);
  z-index: 1;
}


/* ==============================
   Footer
   ============================== */
.mastfoot {
  padding: 0;
}

span.gold{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 20px;
    letter-spacing: 0.2em;
}
.footer {
  background: black;
}

/* ==============================
    Social Media
   ============================== */

 a, a:hover {
 	text-decoration: none;
 }

 .socialbtns, .socialbtns ul, .socialbtns li {
   margin: 0;
   padding: 5px;
 }

 .socialbtns li {
     list-style: none outside none;
     display: inline-block;
 }

 .socialbtns .fa {
 	width: 40px;
  height: 28px;
 	color: #000;
 	background-color: rgb(17, 0, 125);
 	border: 1px solid #000;
 	padding-top: 12px;
 	border-radius: 22px;
 	-moz-border-radius: 22px;
 	-webkit-border-radius: 22px;
 	-o-border-radius: 22px;
 }

 .socialbtns .fa:hover {
 	color: rgb(17, 0, 125)
 	background-color: #000;
 	border: 1px solid #000;
 }
